bash_config/bash_specifics
qutebrowser/qsettings/QtProject.conf
byobu/.ssh-agent
vifm/vifminfo
vifm/vifm-help.txt
vifm/vifminfo.json
tmux/plugins/*
qutebrowser/userscripts/readability.html
tools/actions/scripts/sound/UNMUTE
tools/actions/scripts/sound/MUTE
mpv/mpvHistory.log



